{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>My Bookings</h2>
  {% if bookings %}
    <ul class="list-group">
      {% for booking in bookings %}
      <li class="list-group-item">
        <strong>{{ booking.listing.title }}</strong> 
        <br> On: {{ booking.booking_date|date:"M d, Y" }}
        <br> From: {{ booking.start_time|time:"g:i A" }} to {{ booking.end_time|time:"g:i A" }}
        <br> Total Price: ${{ booking.total_price }}
        <br>
        <strong>Status: </strong>
        {% if booking.status == "PENDING" %}
          <span class="badge bg-warning text-dark">Pending</span>
        {% elif booking.status == "APPROVED" %}
          <span class="badge bg-success">Approved</span>
        {% elif booking.status == "DECLINED" %}
          <span class="badge bg-danger">Declined</span>
        {% endif %}
        <br>
        <a 
          href="{% url 'cancel_booking' booking.id %}" 
          class="btn btn-danger btn-sm mt-2"
        >
          Cancel
        </a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No bookings yet.</p>
  {% endif %}
</div>
{% endblock %}
