commands:
  01_enable_pg_repo:
    command: |
      amazon-linux-extras enable postgresql14
      dnf install -y postgresql-devel

  install_requirements:
    command: "pip install --no-cache-dir -r /var/app/staging/requirements.txt"

packages:
  yum:
    gcc: []  # Required for compiling dependencies
    python3-devel: []  # Needed for some Python packages
    postgresql-devel: []  # Required for PostgreSQL connections
    
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ParkEasy.wsgi:application 